/* Hide the block references in task lines */
.HyperMD-task-line > .cm-blockid {
    opacity: 40%;
    font-size: 50% !important;
}

.task-zero-view {
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
}

.task-zero-table {
    width: 100%;
    border-collapse: collapse;
}
.task-zero-table td {
    padding: 4px;
    vertical-align: middle;
}
.task-zero-table tr {
    border-bottom: 1px solid var(--background-modifier-border);
}
.task-zero-table input {
    vertical-align: middle;
}
.task-zero-table input[type=checkbox] {
    margin: 0;
    margin-inline-end: 0;
}
/*.gtd-table tbody tr:hover {
    background-color: var(--interactive-hover);
}*/
.task-zero-active-row {
    background-color: var(--text-highlight-bg);
}
.task-zero-inbox-row {
    background-color: var(--text-selection);
}
.task-zero-table-checkbox {
    width: 10px;
}
.task-zero-table-task {
    max-width: 400px;
}
.task-zero-table-project {
    max-width: 100px;
}
.task-zero-table-due {
    word-break: keep-all;
    white-space: nowrap;
}
.task-zero-table-note {
    max-width: 100px;
}

.task-zero-table-clip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-zero-sidebar {
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    width: 250px; /* Adjust as needed */
    height: 100%;
    padding: 10px;
    background-color: var(--background-primary-alt);
    border-left: solid 1px var(--background-modifier-border);
}

.task-zero-sidebar .setting-item {
    display: block;
}
.task-zero-sidebar .setting-item-name {
    margin: 0.5em 0;
    font-weight: bold;
}

.task-zero-sidebar  input {
    width: 100%;
}

.task-zero-sidebar textarea {
    width: 100%;
    height: 10em;
}

.task-zero-table-due {
    text-align: center;
}
.task-zero-table-due a {
    background-color: #bd5b2c;
    color: white;
}

.task-zero-table-task p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.task-zero-tab-setting {
    border: none;
    padding: 0 0 0.3em 0;
}

.task-zero-task-textarea textarea {
    height: 5em;
    display: flex;
    flex-grow: 1;
}
